* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: inherit;
  list-style: none;
  box-sizing: border-box;
}
* {
  color: #333;
  text-align: center;
  font-family: "Noto Sans KR";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
body {
  background-color: #fafafa;
}
header {
  display: flex;
  height: 60px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background: rgba(250, 250, 250, 0.5);
  box-shadow: 0px 2px 34.7px 0px rgba(0, 0, 0, 0.25);
}
header > a {
  display: block;
  width: 110px;
  height: 50px;
  margin-left: 150px;
}
.logo {
  display: block;
  width: 110px;
  height: 50px;
  line-height: 70px;
}
.menu {
  display: flex;
  height: 60px;
  width: 100%;
  padding-left: 100px;
  justify-content: space-between;
  align-items: center;
}
nav {
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 50px;
}
nav * {
  width: 150px;
  height: 70px;
  line-height: 70px;
  text-align: center;
}
nav > div > a:hover {
  color: #7d46f2;
  width: 300px;
}
.btn {
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn * {
  width: 100px;
  height: 70px;
  line-height: 70px;
  text-align: center;
}
.btn > div > a:hover {
  color: #7d46f2;
  width: 300px;
}
.btns > li > a {
  width: 153px;
  height: 29px;
  text-align: center;
  font-size: 40px;
  font-weight: 700;
}
.btns {
  padding-top: 10vh;
}
.content {
  height: 100vh;
}
.forms > li {
  display: flex;
  justify-content: center;
}
.active {
  display: flex;
  flex-direction: column;
  margin-top: 8vh;
  gap: 1.5vh;
}
.active > div {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  font-size: 18px;
  font-weight: 500;
}
.active * {
  width: 200px;
}
.active > input {
  width: 25vw;
  height: 6vh;
  flex-shrink: 0;
  border-radius: 20px;
  border: 2px solid #d5d5d5;
  text-align: left;
  padding-left: 30px;
}
.submit {
  width: 25vw;
  height: 6vh;
  flex-shrink: 0;
  border-radius: 100px;
  background: #af99ff;
  color: white;
}
.fifth {
  height: 485px;
  background-color: #ff99b6;
}
.fifth * {
  color: white;
}
.link {
  display: flex;
  gap: 150px;
  padding: 70px 0 0 100px;
}
.service {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
}
.service > a:nth-child(1) {
  font-weight: 900;
  margin-bottom: 30px;
  font-size: 20px;
}
.pupquiz {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
}
.pupquiz > a:nth-child(1) {
  font-weight: 900;
  margin-bottom: 30px;
  font-size: 20px;
}
.toomuch {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 70px 0 0 100px;
}
.toomuch * {
  font-size: 18px;
  font-weight: 500;
}
footer p {
  text-align: left;
  padding: 70px 0 0 100px;
}
.question {
  width: 500px;
  display: flex;
  justify-content: space-between;
  margin-left: 60%;
}

.question > div:nth-child(1),
.question > div:nth-child(3) {
  font-weight: 700;
}
